<div class="row">
  <div class="col-md-12"  [hidden]="isNone()">
    <div style="display: block;">
      <canvas baseChart class="base-chart"
              id="canvas" baseChart width="600" height="300"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="col-md-12" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed" id="table">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData" class="record">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button [hidden]="isDays()" (click)="getDaysData()">Dni</button>
    <button [hidden]="isNotMinutes()" (click)="getHoursData()">Godziny</button>
  </div>
</div>
