#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 100;
  z-index: 1;
}

#list, #date {
  width: 80%;
  margin-left: 10%;
}

app-chart {
  max-width: 80vh;
}

#connections {
  background: inherit;
}
