<div id="navbar">
  <div>
    Podaj datę do YT
  </div>
  <input [ngModel]="YTDate | date:'yyyy-MM-dd'" (ngModelChange)="YTDate = $event" type="date" name="startDate"/>
</div>
<div id="list">
  <div >
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">IP</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Ilość czasu na YT</th>
      </tr>
      </thead>
      <tbody *ngFor="let server of serversList.keys(); index as i">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <td>
            <button type="button" class="btn btn-primary" (click)="setIP(server)">
              {{server}}
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="getConnections(server)">
              Pobierz połączenia
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="getYT(server)">
              Pobierz czas YT
            </button>
          </td>

          <td>
            {{serversList.get(server)}}
          </td>
        </tr>
        <div *ngIf="server === selectedServer">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Cel</th>
              <th>Ilość bajtów</th>
            </tr>
            </thead>
            <tbody *ngFor="let connection of connections.keys()">
            <tr>
              <td>{{connection}}</td>
              <td>{{connections.get(connection)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </tbody>
    </table>
  </div>
</div>
<app-chart [IP]="IP" [hidden]="false"></app-chart>
